body{
	padding:0px;
	margin:0px;
	overflow:hidden;
}
#DebugCanvas{
	position: absolute;
	left: 0px;
	top: 0%;
	border: 1px green solid;
}
#canvas{
	border: 1px red solid;
}
#viewport{
	position: absolute;
	right: 1px;
	top: 1px;
	z-index: 100;
}