body{
	padding:0px;
	margin:0px;
	overflow:hidden;
}
#DebugCanvas{
	position: absolute;
	left: 0px;
	top: 0%;
	border: 1px green solid;
}
#canvas{
	/*border: 1px red solid;*/
}
#viewport{
	position: absolute;
	right: 101px;
	top: 1px;
	z-index: 100;
}/*
#toolbox{
	position: absolute;
	right: 20px;
	top: 0px;
	background-color: #444444;
}
#toolbox>div{
	width: 80px;
	height: 60px;
	padding: auto;
	text-align: center;
}
.toolelms span{
	visibility: hidden;
	opacity: 0;
	color: white;
	position: relative;
	top:15px;
	left: -5px;
	border-radius: 6px;
	width: 80px;
	background-color: #444;
	z-index: 200;
}
.toolelms{
	border:1px solid red;
	
}
.toolelms:hover{
}
.toolelms:hover span{
	cursor: pointer;
	visibility: visible;
	opacity: 0.8;
	content: attr(data-hovertext);
}*/